/* GOOGLE FONTS
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:200,400,700|Spirax');

/* --- STRUCTURAL
-------------------------------------------------- */
/*required to ensure footer stays at the bottom of viewport*/
html {
    position: relative;
    min-height: 100%;
}

body {
    /*leave room for footer*/
    margin-bottom: 80px;
    min-width: 266px;
    font-family: 'Noto Serif JP', sans-serif;
    background-image: url(images/full-bloom.png);
}

/*default color for all site links is black*/
a, a:focus, a:hover {
    font-weight: bold;
    color: #000000;
}

.wrapper {
    max-width: 1904px;
    margin: 0 auto;
}

header {
    background-image: url(images/bg-img.jpg);
    background-size: cover;
    border-bottom: 2px solid black;
    max-width: 1904px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Spirax', cursive;
    /*stops footer wandering off to the right on very large screens*/
    max-width: 1904px;
    border-top: 2px solid black;
}
footer li {
    margin: 10px 1% 0 1%;
    font-size: 0.95em;
}

/*collect some frequently used margin properties into classes that an be called on elements when needed*/
.margin-top-30 {
    margin-top: 30px
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.main-wrapper {
    max-width: 1904px;
}

hr {
    /*overwrite default BS styles*/
    border-top: 1px solid #e2e2e2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
h1, h2, h3, h4 {
    font-family: 'Spirax';
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}
h5, h6 {
    font-weight: 600;
}

/*Transitional Buttons by Vitaliy taken from https://www.designrush.com/resources/designskilz/cool-css-buttons/*/
/*additional declarations added to reset properties specific to <button>*/
.site-button {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 128px;
    min-width: 128px;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    padding: 9px 0px;
    color: #000000;
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    background-color: transparent;
}
.site-button:hover {
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.9) 0 0px 0px 40px inset;
}

@media (min-width: 514px) {
   footer li {
    font-size: 1.3em;
} 
}
@media (min-width: 768px) {
    .wrapper {
        /*adjust the size of the background images on larger screens*/
        background-size: 216px;
    }
}

/* --- HEADER AND NAVIGATION
-------------------------------------------------- */
#main-logo {
    width: 125px;
    height: 66px;    
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    /*although the background-color is overlaid with the background image, declaring it ensures the nav is still clearly visible if the background-image takes time to load*/
    background-color: white;
    background-image: url(images/full-bloom.png);
    border: 1px solid black;
}
.navbar-nav>li {
    display: block;
    float: none;
    /*limit the size of the border*/
    max-width: 131px;
    /*center align the items, max-width makes them align left*/
    margin: 0 auto;
    border-bottom: 1px solid black;
}

/*remove border left on first child for proper border effect*/
.navbar-nav>li:first-child {
    border-left: 0;
    
}
/*remove the border right and bottom on the last item*/
.navbar-nav>li:last-child {
    border-bottom: 0;
    border-right: 0;
}

.icon-bar {
    background-color: #000000;
}

.navbar-toggle {
    /*this moves the nav hamburger icon to the desired place next to the header*/
    top: 10px;
    right: 10px;
    /*this overwrites bootstrap's default position: relative. Needed to get the social links to line up properly underneath the nav*/
    position: absolute;
    /*style the button*/
    background-color: #ffffff;
    border: 4px solid black;
}

/*target the social icons in the header*/
.social-links li a i {
    width: 40px;
    height: 40px;
    /*give the icons more room to breathe*/
    padding: 12px 0;
    /*adjust the size and position of the icons*/
    line-height: 16px;
    font-size: 1.7em;
    /*center the font (icons) within the container div*/
    text-align: center;
    /*the icons touch each other when stacked vertically on smaller screen sizes. This fixes this*/
    margin-top: 10px;
    color: #000000;
    /*border-radius: 50% works with equal height and width properties to give a circle effect*/
    border-radius: 50%;
    background-color: white;
}

.subpage-navigation {
    margin: 25px 0 0 0;
}

.bottom-subpage-navigation {
    margin: 38px 0 0 0;
}

.subpage-navigation a, .subpage-navigation a:focus, .subpage-navigation a:hover,
.bottom-subpage-navigation a, .bottom-subpage-navigation a:focus, .bottom-subpage-navigation a:hover {
    /*allows the nav buttons to line up evenly*/
    width: 87px;
    display: inline-block;
}

@media (min-width: 768px) {
    .social-links li a i {
        /*increase the size of the social links on larger screens*/
        font-size: 2em;
    }
    /*increase the size of the logo on larger screens*/
    #main-logo {
        width: 300px;
        height: 157px;
    }
    .navbar-nav>li {
        /*make the nav items into a row on larger screens*/
        display: inline-block;
        /*correct border effect on larger screens*/
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 0;
    }
    .navbar-nav {
        width: fit-content;
    }
}

/* --- JSSOR SLIDER CSS
-------------------------------------------------- */
#slider1_container {
    border: 1px solid black;
    visibility: hidden; 
    position: relative;
    margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 1300px; 
    height: 500px; 
    overflow: hidden;
    /*the jssor slider js sets the width to 1920px via inline styles. This declaration ensures that the width can go no larger than 1904px in order for the slideshow to fit snug with the header and other content*/
    max-width: 1904px;
}

/* jssor slider loading skin spin css */
.jssor1-099-spin {
    position: absolute;
    top :0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}
@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.jssor-slides {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1300px;
    height: 500px;
    overflow: hidden;
}

.jssorb031 {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.jssorb031 .i {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.jssorb031 svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jssorb031 .i .b {
    fill: #000;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 1200;
    stroke-miterlimit: 10;
    stroke-opacity: 0.3;
}
.jssorb031 .i:hover .b {
    fill: #fff;
    fill-opacity: .7;
    stroke: #000;
    stroke-opacity: .5;
}
.jssorb031 .iav .b {
    fill: #fff;
    stroke: #000;
    fill-opacity: 1;
}
.jssorb031 .i.idn {
    opacity: .3;
}

/* #region Arrow Navigator Skin Begin */
.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer;
}
.jssora051 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 360;
    stroke-miterlimit: 10;
}
.jssora051:hover {
    opacity: .8;
}
.jssora051.jssora051dn {
    opacity: .5;
}
.jssora051.jssora051ds {
    opacity: .3;
    pointer-events: none;
}

/* --- MEDIA STYLES
-------------------------------------------------- */
.feature-media-container {
    /*ensures proper alignment especially needed on xs screens, overriding BS classes*/
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.feature-media-container img,
.media-cover-container img {
   border: 1px solid black; 
}
.feature-media-container h3,
.feature-media-container h4 {
    /*overwrite default bootstrap margin, too much for the album heading*/
    margin-top: 10px;
    text-align: center;
}

.feature-media-cover-container {
    /*this centres the album cover within its container*/
    margin: 0 auto;
    display: block;
    width: 300px;
}

.feature-album-cover {
    width: 300px;
    height: 300px;
}

.album-buy-now a {
    margin: 0 10px 0 10px;
}

@media (min-width: 768px) {
    /*make the album cover bigger and bolder on larger screens*/
    .feature-media-cover-container {
        margin: 0 auto;
        display: block;
        width: 315px;
    }
    .feature-album-cover {
        width: 315px;
        height: 315px;
    }
}

@media (min-width: 1200px) {
    /*make the album cover even bigger and bolder on the largest screens*/
    .feature-media-cover-container {
        margin: 0 auto;
        display: block;
        width: 400px;
    }
    .feature-album-cover {
        width: 400px;
        height: 400px;
    }
}

/* UPPER INDEX ROW SECTION
-------------------------------------------------- */
.upper-index-row {
    max-width: 1414px;
    margin: 30px auto;
}

.index-news-wrapper {
    /*centre the news items within their container*/
    display: table;
    margin: 0 auto;
}
.index-news-wrapper h1 {
    /*set margin for heading for better alignment*/
    margin: 0;
    /*border style and min-height so border looks good*/
    border-bottom: 1px solid;
    min-height: 50px;
}

/*center align the news article titles and dates*/
.news-article h3 {
    text-align: center;
}

.news-list,
.news-list-container {
    list-style: none;
    padding: 0 10px 0 0;
    text-align: center;
}
.news-list h3,
.news-list-container h3 {
    margin: 20px 0 5px 0;
}
/*.news-list h3 {*/
    /*override default h3 margins for correct alignment of the news-list h3s*/
/*    margin: 20px 0 5px 0;*/
/*}*/

/*align the news items left on larger screens*/
@media (min-width: 992px) {
    .news-list,
    .news-list-container {
        text-align: left;
    }
}

/* INDEX HISTORY SECTION
-------------------------------------------------- */
.band-history p,
#history-text-p-1 p {
    margin: 9px 33px;
}
.band-history h1 {
    border-top: 4px groove;
    max-width: 1252px;
    margin: 0 auto;
    padding-top: 14px;
}

/*button styles taken from https://codepen.io/pedox/pen/Kfzso*/
/*#history-show-hide-btn {*/
/*    margin: 12px auto;*/
/*	background: #ffffff;*/
/*	border-radius: 15px;*/
/*	padding: 10px 20px;*/
/*	font-family: arial;*/
/*	font-weight: bold;*/
/*	color:#383838;*/
/*	text-decoration: none;*/
/*	text-shadow:0px 1px 0px #fff;*/
/*	border:1px solid #a7a7a7;*/
/*	width: 145px;*/
/*	margin-top:10px;*/
/*	box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);*/
/*	-webkit-transition:box-shadow 0.5s;*/
/*}*/
/*#history-show-hide-btn:hover {*/
/*    box-shadow: 0px 2px 1px white inset, 0px -40px 20px white, 0px 2px 5px rgba(0, 0, 0, 1), 0px 8px 10px rgba(0, 0, 0, 0.1);*/
/*}*/
/*#history-show-hide-btn:active {*/
/*	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);*/
/*	background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);    */
/*}*/

#history-text,
#history-text-p-1 {
    max-width: 991px;
    margin: 0 auto;
    text-align: justify;
}

figure {
    /*stops messy layout of text next to image on smaller screens*/
    display: block;
    margin: 15px 0 10px 0;
}
figure img {
    /*ensures divs collapsed on smaller screens*/
    margin: 0 auto;
    display: block;
    border: 1px solid black;
}

.book-us-cta a {
    color: #0089ff;
}

@media (min-width: 768px) {
    #history-text {
        /*this ensures the text always shows on larger screens*/
        height: inherit!important;
        display: block!important;
    }
}

@media (min-width: 900px) {
    /*reset the p margin and apply it to the whole div on larger screens for proper layout*/
    .band-history p,
    #history-text-p-1 p {
        margin: 12px 0;
    }
    .band-history {
        margin: 0 57px;
    }
    figure {
        margin: 0 20px 0 0;
    }
    figure img {
        vertical-align: top;        
    }
    .left-float-history-figure {
        float: left;
        margin: 10px 10px 0 0;
    }
    .right-float-history-figure {
        float: right;
        margin: 10px 0 0 0;
        padding: 0 0 0 20px;
    }
}

/* NEWS PAGE
-------------------------------------------------- */
.news-article {
    margin: 0 20px;
    display: block;
    max-width: 1000px;
    /*remove bootstrap's default float property to properly center the news article*/
    float: none;
}
.news-article a, .news-article a:focus, .news-article a:hover {
    color: #018aff;
}
.news-article h4 {
    /*removes margin to ensure articles with a h4 are visually similiar to other articles*/
    margin-top: 0;
}

@media (min-width: 768px) {
    .news-article {
        /*center the articles on larger screens*/
        margin: 0 auto;
    }
}

/* NEWS PAGE IMAGES
-------------------------------------------------- */
#news-article-1-image,
#news-article-5-image,
#news-article-7-image,
#news-article-8-image {
    width: 225px;
    margin: 20px auto;
    display: block;
}
#news-article-2-image,
#news-article-4-image {
    float: none;
    width: 213px;
    margin: 0 auto 10px;
    display: block;
}
#news-article-3-image {
    margin: 10px auto 0;
    display: block;
    width: 239px;
}

#news-article-4-image-2 {
    width: 190px;
    margin: 10px auto;
    display: block;
}

@media (min-width: 435px) {
    /*increase the size of images on larger screens*/
    #news-article-1-image,
    #news-article-3-image,
    #news-article-4-image-2,
    #news-article-7-image,
    #news-article-8-image {
        width: 300px;
    }
}

@media (min-width: 551px) {
    #news-article-3-image {
        width: 450px;;
    }
}
@media (min-width: 992px) {
    #news-article-1-image {
        /*increase the size of the image on larger screens*/
        width: 600px;
    }
    #news-article-2-image,
    #news-article-4-image,
    #news-article-7-image {
        float: left;
        margin: 0 10px 10px 0;
        /*make images default width on larger screens*/
        width: auto;
    }
    #news-article-4-image-2 {
        width: 300px;
        float: right;
        margin: 0 0 10px 10px;
    }
    #news-article-5-image {
        float: left;
        margin: 0 10px 10px 0;
        width: 242px;
    }
}

@media (min-width: 1020px) {
    #news-article-3-image {
        width: 500px;
    }
    #news-article-8-image {
        float: left;
        margin: 0 10px 17px 0;
        width: 360px;
    }
}

@media (min-width: 1328px) {
    #news-article-3-image {
        width: 800px;
    }
}

/* TOUR STYLES
-------------------------------------------------- */
.tour-date {
    margin-bottom: 10px;
}

.tour-location {
    margin-bottom: 10px;
}

.buy-tickets-btn {
    margin-bottom: 10px;
}

/* BOOK US STYLES
-------------------------------------------------- */
.testimonials-container {
    max-width: 993px;
    margin: 0 auto;
    display: block;
}

.img-border-radius-15 {
    border-radius: 15%;
}

.blockquote-footer {
    /*this class overwrites the footer width declared elsewhere as it causes issues with horizontal scrolling on mobile*/
    width: auto;
    /*overwrite default footer font*/
    font-family: 'Noto Serif JP', sans-serif;
    /*overwrite default BS styles*/
    color: #000;
    font-size: 100%;
}

.book-us-form {
    max-width: 904px;
    margin: 20px auto;
}

.contact-form-description {
    margin: 0 auto;
    display: block;
    max-width: 72%;
}

@media(min-width: 992px) {
    blockquote {
        /*ensures the blockquote footers line up with each other*/
        min-height: 140px;
    }
      
}

/* MUSIC STYLES
-------------------------------------------------- */
.media-cover-container {
    height: 330px;
    width: 300px; 
    margin: 46px auto;
    display: block;
}
.media-cover-container h4 {
    text-align: center;
}

.media-cover-container-fix {
    /*fixes layout issues with the uppermost container on the 2nd row*/
    margin: -60px auto 0;
}

.album-cover {
    height: 300px;
    width: 300px;
}

@media (min-width: 768px) {
    .media-cover-container {
        /*fixes margin on larger screens for proper grid layout effect*/
        margin: 0 auto;
        height: 230px;
        width: 200px;  
    }
    .margin-top-25 {
        /*acts similiar to generic margin-top-30 class for proper layout*/
        margin-top: 25px
    }
    .album-cover {
        height: 200px;
        width: 200px;
    }
}

@media (min-width: 1291px) {
    .album-cover {
        /*increase the size of the album covers on larger screens*/
        height: 300px;
        width: 300px;
    }
    .media-cover-container {
        height: 330px;
        width: 300px; 
    }
}

/* MUSIC SUBPAGE STYLES */
.subpage-media-cover-container {
    /*this centres the album cover within its container*/
    margin: 0 auto 25px;
    display: block;
    width: 250px;
}

.subpage-media-cover-container img {
    border: 1px solid black;
}

.subpage-album-cover {
    width: 250px;
    height: 250px;
}

.music-description {
    padding-left: 30px;
    margin: 0 35px;
}
.music-description h3 {
    margin-top: 0;
    text-align: center;
}

.spotify-player {
    margin: 15px auto;
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    /*make the album cover bigger and bolder on larger screens*/
    .subpage-media-cover-container {
        /*center the album cover when columns collapse*/
        /*margin: 0 auto 20px;*/
        display: block;
        width: 315px;
    }
    .subpage-album-cover {
        width: 315px;
        height: 315px;
    }
    .min-width-album-fix {
        /*this prevents description and album cover overlapping*/
        min-width: 315px;
    }
}

@media (min-width: 992px) {
    .subpage-media-cover-container {
        /*album cover left aligned on larger screens*/
        margin: 0;
    }
    .music-description {
        width: 36.3%;
        margin: 0;
        text-align: left;
    }
    .music-description h3 {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    /*make the album cover even bigger and bolder on the largest screens*/
    .subpage-media-cover-container {
        margin: 0;
        display: block;
        width: 400px;
    }
    .subpage-album-cover {
        width: 400px;
        height: 400px;
    }
    
    .min-width-album-fix {
        /*this prevents description and album cover overlapping*/
        min-width: 400px;
    }
    .music-description {
        /*control the width of the music description p to stop overflow*/
        width: 33.3% ;
    }
}

@media (min-width: 1526px) {
    .music-description {
        width: 38.3% ;
    }
}

/* VIDEO STYLES
-------------------------------------------------- */
.video-player {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 183px;
    border: 1px solid black;
}

.video-thumbnail {
    height: 200px;
    width: 267px;
}

.video-cover-container {
    height: 200px;
    width: 267px; 
    /*correct spacing between video elements*/
    margin: 46px auto 0;
    display: block;
    border: 1px solid black;
}

.video-heading {
    text-align: center;
    margin: 10px auto 0;
    /*prevent the heading text from being larger than the image thumbnails*/
    max-width: 266px;
}

.thumbnail-wrapper {
    position: absolute;
}
.thumbnail-wrapper .glyphicon {
    /*position the play glyphicon correctly*/
    position: absolute;
    top: 60px;
    left: 101px;
    font-size: 69px;
    color: white;
    /*give the play icon a background color to make it stand out against the video backdrop*/
    background-color: rgba(0,0,0,0.7);
    /*make the border circular to fit snug with the play icon*/
    border: 0.1px solid;
    border-radius: 100%;
}

@media (min-width: 425px) {
    .video-player {
        width: 398px;
        height: 243px;  
    }
}

@media (min-width: 691px) {
    .video-player {
        width: 664px;
        height: 339px;    
    }
}

@media (min-width: 992px) {
    .video-heading {
        /*lessens spacing on larger screens*/
        margin: 10px auto;        
    }
}

@media (min-width: 1749px) {
    .video-thumbnail {
        /*increase the size of the album covers on larger screens*/
        height: 262px;
        width: 350px;
    }
    .video-cover-container {
        /*old value*/
        /*height: 287px;*/
        height: 262px;
        width: 350px; 
    }
    .thumbnail-wrapper .glyphicon {
        /*position the play glyphicon correctly*/
        position: absolute;
        top: 84px;
        left: 130px;
        font-size: 90px;
    }
}

/* PHOTO GALLERY STYLES
-------------------------------------------------- */
#photo-gallery-section {
    /*this helps keep the photo gallery rows snug with the margin, but with the images not overlapping*/
    max-width: 90%;
    margin: 0 auto;
}

.lightgallery-thumbnail-link img {
    /*display: block and margin: auto centers the images on smaller screens*/
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.lightgallery-heading {
    text-align: center;
}   

.caption {
    text-align: center;
    /*border effect styles*/
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    min-height: 45px;
}

@media (min-width: 768px) {
    .lightgallery-thumbnail-link {
        display: block;
        /*padding: 30px 0 30px 40px;*/
        margin: 0 auto;
    }
    
    .lightgallery-heading {
        /*padding: 0 0 0 40px;*/
        /*bring heading over to the left on larger screens*/
        text-align: left;
    }   

    .lightgallery-thumbnail-link img {
        /*reset the margin to properly line up images and heading*/
        margin: 0;
        /*stops overlap between 769px and 930px*/
        height: 165px;
        width: 165px;
    }
}

@media (min-width: 930px) {
    .lightgallery-thumbnail-link img {
        /*grow the size of the image with the page*/
        height: 200px;
        width: 200px;
    }    
    .caption {
        /*prevent the caption from being wider than the image*/
        max-width: 200px;
    }
}

@media (min-width: 1378px) {
    .lightgallery-thumbnail-link img {
        /*grow the size of the image with the page*/
        height: 300px;
        width: 300px;
    }
    .caption {
        /*prevent the caption from being wider than the image*/
        max-width: 300px;
    }
}
